<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Smakeloos - thuis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/vector_ornaments.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Ga dingen doen!</ion-card-subtitle>
      <ion-card-title>Welkom bij Smakeloos!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p text-start>Laten we eens kijken wat voor onzin we allemaal kunnen uithalen hiermee.</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h2 text-start>
              <strong>Stappenteller:</strong>
            </h2>
          </ion-col>
          <ion-col>
            <h2 text-end>
              <span>{{ nrOfSteps }}</span>
            </h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list lines="none">
        <ion-list-header>
          <ion-label>Scanner</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-button (click)="scanBardcode()">Scan barcode</ion-button>
        </ion-item>
        <ion-item>
          <ion-label>
            <code>barcode: {{ barcode }}</code></ion-label
          >
        </ion-item>
      </ion-list>
    </ion-card-content></ion-card
  >

  <!-- List of Sliding Items -->
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-label>Rare schuiflijst</ion-label>
        </ion-list-header>
        <ion-item-sliding>
          <ion-item>
            <ion-label>Schuif 1</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option>Klik</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding>
          <ion-item>
            <ion-label>Schuif 2</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option>Klak</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
